body {
    background: linear-gradient(to right, #C0F0F0 0%,#7DB9E8 100%);
}

div#result ul {
    margin-top: 20px;
}

div#result ul li {
    display: block;
    margin: -5px 20px 5px -20px;
    padding-bottom: 5px;
    height: 30px;
    list-style-type: none;
    font-size: 130%;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

div#result ul li:hover {
    color: #0000FF;
    text-shadow: none;
    font-weight: bold;
}