body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    background-color: #CCCCCC;
}

div#output {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

div#output ul {
  position: relative;
  top: -10px;
}

div#output ul li {
    display: block;
    margin: 0 20px 0 -10px;
    padding-top: 15px;
    cursor: pointer;
}

div#output ul li:hover {
    text-decoration: underline;
}